In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df =pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding ="latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
df_2017 = df[['Y2017', 'Area']]

group_by_area = df_2017.groupby('Area')['Y2017'].sum().reset_index()

sorted_sums = group_by_area.sort_values(by='Y2017')

seventh_lowest_area = sorted_sums.iloc[6]['Area']  

seventh_lowest_sum = sorted_sums.iloc[6]['Y2017']
print(f"The Area with the 7th lowest sum in 2017 is '{seventh_lowest_area}'")

The Area with the 7th lowest sum in 2017 is 'Guinea-Bissau'

In [23]:
data = {
    'Element Code': [511, 5301, 664, 674],
    'Y2014': [38924, 0, 3377, 94.9],
    'Y2015': [39728, 0, 3379, 94.35],
    'Y2016': [40551, 0, 3372, 94.72],
    'Y2017': [41389, 0, 3341, 92.82],
    'Y2018': [42228, 0, 3322, 91.83]
}

df2 = pd.DataFrame(data)

correlations = {}

for year in ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']:
    correlation = df2['Element Code'].corr(df2[year])
    correlations[year] = correlation

min_year = min(correlations, key=correlations.get)
min_correlation = correlations[min_year]


print("Correlation with Element Code:")
for year, correlation in correlations.items():
    print(f"{year}: {correlation:.2f}")

print(f"\nThe year with the minimum correlation is '{min_year}' with a correlation of {min_correlation:.2f}.")

Correlation with Element Code:
Y2014: -0.40
Y2015: -0.40
Y2016: -0.40
Y2017: -0.40
Y2018: -0.40

The year with the minimum correlation is 'Y2014' with a correlation of -0.40.

In [10]:
selected_data = df[['Y2017', 'Area']]


sum_by_area = selected_data.groupby('Area')['Y2017'].sum().reset_index()

area_highest_sum_2017 = sum_by_area.loc[sum_by_area['Y2017'].idxmax()]

area_name_highest_sum = area_highest_sum_2017['Area']

highest_sum_2017 = area_highest_sum_2017['Y2017']

print(f"The Area with the highest sum in 2017 is '{area_name_highest_sum}' with a sum of {highest_sum_2017}.")

The Area with the highest sum in 2017 is 'Nigeria' with a sum of 1483268.23.

In [11]:
filtered_df = df[df['Item'] == 'Wine'][['Y2015', 'Y2018']]

wine_2015_total = filtered_df['Y2015'].sum()

wine_2018_total = filtered_df['Y2018'].sum()

print(f"Total Wine produced in 2015: {wine_2015_total}")
print(f"Total Wine produced in 2018: {wine_2018_total}")

Total Wine produced in 2015: 4251.8099999999995
Total Wine produced in 2018: 4039.3199999999997

In [12]:

stock_variation= df[df['Element'] == 'Stock Variation']

grouped = stock_variation.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

max_year = grouped.idxmax(axis=1).values[0].lstrip('Y')

print(f"The year with the highest sum of Stock Variation is: {max_year}")

The year with the highest sum of Stock Variation is: 2014

In [13]:



missing = df['Y2014'].isna().sum()

total_count = df['Y2014'].shape[0]

percentage_missing = (missing / total_count) * 100

print(f"Total number of missing data in 2014: {missing}")
print(f"Percentage of missing data in 2014: {percentage_missing:.3f}%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [14]:
df['Area'].nunique()

49

In [15]:
 
processing_2017_df = df[(df['Element'] == 'Processing') & (df['Y2017'].notna())]

grouped = processing_2017_df.groupby('Element')['Y2017'].sum()

sum_processing_2017 = grouped.get('Processing', 0)  

print(f"The total sum of Processing in 2017 is: {sum_processing_2017}")

The total sum of Processing in 2017 is: 292836.0

In [22]:

filtered_df = df[(df['Area'] == 'Madagascar') & 
                 (df['Item'] == 'Protein') & 
                 (df['Element'] == 'Food supply quantity (kg/capita/year)') &
                 (df['Y2015'].notnull())] 

total_protein_supply_2015 = filtered_df['Y2015'].sum()

print(f"The total Protein supply quantity in Madagascar in 2015 is: {total_protein_supply_2015:.2f} kg/capita/year")

The total Protein supply quantity in Madagascar in 2015 is: 0.00 kg/capita/year

In [16]:
columns_2017 = [col for col in df.columns if col.startswith('Y2017')]

df_2017 = df[columns_2017]

mean_2017 = df_2017.stack().mean() 

std_dev_2017 = df_2017.stack().std() 


print(f"Mean for the year 2017: {mean_2017:.2f}")
print(f"Standard deviation for the year 2017: {std_dev_2017:.2f}")

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86